.footer {
    background-color: #3573cf;
    color: white;
    padding: 20px 0;
}

.footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
}

.footer .col {
    flex: 1;
    margin: 0 15px;
    text-align: center;
}

.footer h4 {
    font-weight: bold;
    /* Make the headers bold */
    margin-bottom: 15px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: white;
    /* Adjust the link color as needed */
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.bottom-footer {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}