@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
    overflow-x: hidden;
}

@layer utilities {
  .text-justify {
    text-justify: inter-word;
  }
}

.soccer-ball-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
  overflow-x: hidden;
}

.soccer-ball {
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url('/images/soccer-ball.png');
  background-size: cover;
  background-repeat: no-repeat;
  animation: float 6s ease-in-out infinite;
  opacity: 0.8;
}

@keyframes float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  50% {
    transform: translateY(-30px) translateX(30px) rotate(45deg);
  }
  100% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
}




/* fonts */
@font-face {
  font-family: 'GamesPage';
  src: url('/fonts/SugarPunch.otf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GameHeader';
  src: url('/fonts/PizzaDude.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GameDescription';
  src: url('/fonts/SansMono.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
}


